#root {
  text-align: center;
}

.landing-bg {
  background-image: url("./landingBg.jpg");
  margin: auto;
  width: 1000px;
  height: 400px;
  border-radius: 50px;
}

.hero {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, darkblue, rgb(8, 234, 255)) 1;
}

.pic {
  height: 20rem;
}
