#root {
  text-align: center;
}

.landing-bg {
  background-image: url("./landingBg.jpg");
  margin: auto;

  border-radius: 50px;
}

.landing {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, darkblue, rgb(8, 234, 255)) 1;
}

.pic {
  height: 20rem;
}

@media only screen and (max-width: 600px) {
  .hero {
    padding-bottom: -200px;
  }
}
